/dist
/tmp
/out-tsc
/bazel-out
/node_modules
/.angular
/.cache
/.vscode/*
!.vscode/extensions.json
/coverage
/.nyc_output
/.history
/.idea
/.sass-cache
/connect.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
libpeerconnection.log
testem.log
typings
